# Telegram
BOT_TOKEN=your_telegram_bot_token

# База данных PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=english_bot
DB_USER=postgres
DB_PASSWORD=postgres

# OpenAI
AI_TUNNEL_API_KEY=your_openai_api_key